:root {
  --color-white-norm: #ffffff;
  --color-white-cool: #ebebeb;
  --color-white-mute: #d6d6d6;

  --color-grey-norm: #d2d7df;
  --color-grey-cool: #c3cad5;
  --color-grey-mute: #abb5c4;

  --color-silver-norm: #bebdb1;
  --color-silver-cool: #aba99b;
  --color-silver-mute: #999785;

  --color-battleship-norm: #8c8c7d;
  --color-battleship-cool: #777769;
  --color-battleship-mute: #616156;

  --color-jet-norm: #353535;
  --color-jet-cool: #292929;
  --color-jet-mute: #141414;

  --color-green-light: rgb(171, 247, 171);
  --color-red-light: rgb(249, 166, 166);
  --color-blue-light: rgb(164, 164, 254);
}

/* Light Theme */
:root {
  --background-norm: var(--color-white-norm);
  --background-hover: var(--color-white-cool);

  --border-norm: var(--color-grey-mute);
  --border-hover: var(--color-grey-norm);

  --button-norm: var(--color-white-mute);
  --button-hover: var(--color-jet-norm);
  --button-unselected: var(--color-jet-norm);
  --button-text: var(--color-jet-norm);
  --button-text-hover: var(--color-white-mute);

  --text-norm-norm: var(--color-jet-norm);
  --text-light-norm: var(--color-white-norm);
  --text-head-norm: var(--color-jet-cool);
  --text-head-mute: var(--color-jet-mute);
  --text-link-norm: var(--color-silver-cool);
  --text-link-hover: var(--color-jet-mute);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-norm: var(--color-jet-mute);
    --background-hover: var(--color-jet-cool);

    --border-norm: var(--color-grey-mute);
    --border-hover: var(--color-grey-norm);
    --border-hover2: var(--color-green-light);

    --button-norm: var(--color-jet-norm);
    --button-hover: var(--color-silver-norm);
    --button-unselected: var(--color-silver-norm);
    --button-text: var(--color-silver-norm);
    --button-text-hover: var(--color-jet-norm);

    --text-norm-norm: var(--color-grey-norm);
    --text-head-norm: var(--color-grey-cool);
    --text-head-mute: var(--color-grey-mute);
    --text-link-norm: var(--color-grey-mute);
    --text-link-hover: var(--color-white-norm);
    --text-red-norm: var(--color-red-light);
    --text-green-norm: var(--color-green-light);
    --text-blue-norm: var(--color-blue-light);
  }
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-norm);
  color: var(--text-norm-norm);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
}

a {
  color: var(--text-link-norm);
  text-decoration: none;
  transition: 0.6s;
  cursor: pointer;
}

a:hover {
  color: var(--text-link-hover);
  text-decoration: none;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--background-norm);
  padding: 0;
  /* margin-top: 100px; */
}

@media (max-width: 1024px) {
  body {
    height: auto;
  }
}